<ion-view title="Profile" style="text-align: center">
  <ion-content>
		<ion-card >
		  <ion-item class="item-profile">
  			<div class="item item-avatar">
    			<img src="/img/avatar.png" class="avatar-img">
			    <ion-label class="label-name">Hi! Sion </ion-label>
  			</div>
			</ion-item>
			<!-- <ion-item class="item-profile">
				<div class="item item-avatar">
					<img src="/img/avatar.png" class="avatar-img">
					<a class="button icon icon-left ion-ios-plus" href="#/learn/pronunciation"></a>
			    <input type="text" ng-model="firstName" placeholder="First name" style="width: 100%;"></input>
			    <input type="text" ng-model="lastName" placeholder="Last name" style="width: 100%"></input>
				</div>
  		</ion-item> -->
  		<hr>
			<ion-item style="position: inline;">
				<ion-label class="level">Level: {{level}}13</ion-label>
				<ion-label class="level">{{levelName}}Beginner</ion-label>
			</ion-item>
		</ion-card>
  </ion-content>
</ion-view>