<ion-view title="Profile" style="text-align: center">
  <ion-content>
		<ion-card >
		  	<ion-item class="item-profile">
  			<div class="item item-avatar">
    			<img src="/img/avatar.png" class="avatar-img">
			    <ion-label class="label-name">Hi! Sion </ion-label>
  			</div>
			</ion-item>
			<hr>
			<!-- <ion-item class="item-profile">
				<div class="item item-avatar">
					<img src="/img/avatar.png" class="avatar-img">
					<a class="button icon icon-left ion-ios-plus" href="#/learn/pronunciation"></a>
			    <input type="text" ng-model="firstName" placeholder="First name" style="width: 100%;"></input>
			    <input type="text" ng-model="lastName" placeholder="Last name" style="width: 100%"></input>
				</div>
  		</ion-item> -->
			<ion-item class="item-profile item-level">
				<ion-label class="level">Level: {{level}}13</ion-label>
				<ion-label class="level levelName">{{levelName}}Beginner</ion-label>
				<div class="w3-progress-container w3-round-large" style="margin-top: 20px;">
					<div id="myBar" class="w3-progressbar w3-round-large w3-green" style="width:25%;">
						<div class="w3-center w3-text-white">25%</div>
					</div>
				</div>
				<ion-label class="level">125/500</ion-label>
			</ion-item>
			<hr>
			<ion-item class="item-profile">
				<ion-label>Number word per day: 5</ion-label>
			</ion-item>
		</ion-card>
  </ion-content>
</ion-view>