<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Learn" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.learn">
    <ion-nav-view name="learn-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Custom" icon-on="ion-ios-color-wand" icon-off="ion-ios-color-wand-outline" ui-sref="tabs.custom">
    <ion-nav-view name="custom-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Dict" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" ui-sref="tabs.dict">
    <ion-nav-view name="dict-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tabs.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
      