nav.nav-custom{
	background: #B2DFDB;
}

.title-card{
	width: 100%; 
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.label-input{
	width: 80%; 
	margin: auto; 
	font-size: 20px;
}

input.input-text{
	width: 100%;
	font-size: 16px;
	line-height: 30px;
}

input::-webkit-input-placeholder{
	font-size: 14px;
	line-height: 30px;
}

.title-image-add{
	width: 80%;
}

div.image-add{
	clear: both;
	width: 80%; 
	height: 150px; 
	margin: 5px auto; 
	position: relative;
}
div.sound-add{
	clear: both;
	width: 80%; 
	height: auto;
	margin: 5px auto; 
	position: relative;
}

img.image-add{
	background: #A5D6A7; 
	font-size: 80px;
	width: 100%;
	height: 150px;
	line-height: 100%;
	text-align: center;
}

h5.label-input{
	margin: auto;
	margin-top: 10px;
	font-size: 14px;
	color: #444;
}

a.button-add-image{
	font-size: 80px;
	width: 100%;
	position: absolute;
	line-height: 150px;
	text-align: center;
	top: 0px;
	left: 0px;
	z-index: 1;
}


.item-floating-label .input-label.has-input{
	font-size: 14px;
	line-height: 22px;
}

div.add-sound{
	clear: both; 
	width: 80%; 
	margin: auto;
	margin-top: 5px;
}

.item h2{
	font-size: 25px;
}

.done-button{
	max-width: 31px;
	max-height: 31px;
	font-size: 60px;
    margin: auto;
    top: -30px;
    position: relative;
    right: 10px;
}

// .xplatform-android .action-sheet-backdrop.active {
// background-color: rgba(0, 0, 0, 0.2); }
// .xplatform-android .action-sheet {
// margin: 0; }
// .xplatform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
// text-align: center;
// border-color: transparent;
// font-size: 16px;
// color: inherit; }
// .xplatform-android .action-sheet .action-sheet-title {
// font-size: 14px;
// padding: 16px;
// color: #666; }
// .xplatform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
// background: #e8e8e8; }
// .xplatform-android .action-sheet-group {
// margin: 0;
// border-radius: 0;
// background-color: #fafafa; }
// .xplatform-android .action-sheet-cancel {
// display: none; }
// .xplatform-android .action-sheet-has-icons .button {
// padding-left: 56px; }

.platform-android .action-sheet-backdrop.active {
	background-color: rgba(0, 0, 0, 0.1);
}
.platform-android .action-sheet {
	align-content: center;
	margin:auto;
	max-width: 96vw;
	border-radius: 5px;
	/*margin: 0;*/
	margin-bottom: 10px;
}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
	text-align: center;
	/*border-color: #e2e2e2;*/
	font-size: 16px;
	color: inherit;
}
.platform-android .action-sheet .action-sheet-title {
	font-size: 14px;
	padding: 16px;  
	color: #666;
}
.platform-android .action-sheet .button {
	border-color: #e2e2e2;
	padding-left: 16px;
	color: #104e89;
}
.platform-android .action-sheet .button.destructive {
	color: red;
}
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
	background: #e8e8e8; 
}
.platform-android .action-sheet-group {
/*margin: 0;*/
	border-radius: 0;
	background-color: #fafafa; 
}
.platform-android .action-sheet-cancel {
	display: none;
}
.platform-android .action-sheet-has-icons .button {
	padding-left: 56px; 
}