.pronun{
	background: #E54861;
	border-radius: 10px;
	border: solid 1px;
	padding: 0px 30px;
}

.vocab{
	background: #F2A379;
	border-radius: 10px;
	border: solid 1px;
	padding: 0px 30px;
}

.testgame{
	background: #9BDF46;
	border-radius: 10px;
	border: solid 1px;
	padding: 0px 30px;
}

.scroll{
	height: 100%;
}

nav{
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	background: #468966;
}

ul{
	height: auto;
	width: 80%;
	margin: auto;
}

.firtpronun{
	width: 100%;
	margin: 15% 0;
	font-size: 80px; 
	text-align: center;
	border-radius: 10px;
	border: solid 1px;
	background: #E54861;
}

 ul li{
 	width: 100%;
 	margin: 15% 0;
 	position: relative;
 }

ul li a{
	display: inline-block;
	width: 100%;
}

.box-sizing {
	box-sizing: border-box;
	padding: 10px;
}

.pronuntext{
	font-size: 30px; 
	text-align: center;
	background: #9BDF46;
	border-radius: 10px;
	border: solid 1px;
}
.ion-volume-high{
	font-size: 30px; 
	color: #346473; 
	border-radius: 10px; 
	border: solid 1px; 
	padding: 0px 5px;
	position: absolute;
	right: 5px;
	bottom: 0%;
	margin-bottom: 22px;
}