<ion-view title="Daily word">
	<ion-content class="box-sizing">
		<ion-scroll direction="y" style="height: 100%;">
			<div class="daily-header">
				<p class="today">Today,</p>
				<div style="display: inline-block; width: 100%;">
					<p class="second-line">You have</p> 
					<p class="number">{{numberWord}}</p>
				</div> 
				<p class="third-line">new words</p>
			</div>
			<div class="button-content">
				<button ng-click="viewFunc()" class="button button-calm button-view">Let's start</button>
				<button ng-click="reviewFunc()" ng-if="isReview" class="button button-balanced button-review">Review ({{numberWordViewed}})</button>
			</div>
			<div class="ul">
				<ul class="list list-ul" ng-repeat="x in vocabs">
				    <li class="item item-li">
				    	{{x.text}}
				    </li>
				</ul>
			</div>
		</ion-scroll>
	</ion-content>
</ion-view>