<ion-view title="Topic" >
<ion-slide overflow-scroll="true">
	<ion-content overflow-scroll="true">
		<ion-slide>
			<ion-item ng-repeat="x in topics" class="card" ng-click="showSubTopic(x.idtopic)">
				<ion-thumbnail item-left style="float: left;">
					<img src="{{x.image}}" style="height: 80px; width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>{{x.name}}</b></h2>
				<p style="margin-left: 120px; margin-bottom: 0px;">Total: 2 topics</p>
		</ion-slide>
	</ion-content>
	</ion-slide>
</ion-view>