<ion-view title="Front card">
	<ion-content class="box-sizing">
	    <ul>
	    	<li class="vocabcard">
	    		<p class="text">{{vocabText}}</p>
	    		<p class="pronounce">/{{vocabPronounce}}/</p>
	    		<div class="icon ion-ios-volume-high" ng-click="playSound(vocabSound)"></div>
	    	</li>
	    	</ul>
	    <ul ng-click="callBack(1)">
	    	<li>
	    		<img class="" ng-src="{{vocabImageURL}}" alt="">
	    	</li>
	    	<li>
	    		<p>Meaning:</p>
	    		<p style="font-size: 15px; width: 100%;">{{meaning}}</p>
	    	</li>
	    </ul>
	</ion-content>
</ion-view>