<ion-view title="Vocabulary" >
	<ion-content overflow-scroll="true">
		<ion-list>
			<ion-item class="card" ng-click="clicked()">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/avatar.png" style="max-height: 80px; max-width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Level</b></h2>
				<p style="margin-left: 120px;">Total: 2 topics</p>
			</ion-item>
			<ion-item class="card" ui-sref="tabs.topic">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/avatar.png" style="max-height: 80px; max-width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Topic</b></h2>
				<p style="margin-left: 120px; margin-bottom: 0px;	">Total: 2 topics</p>
				<p style="margin-left: 120px;">540 words learned</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<!-- <ion-view title="Learn">
	<ion-content>
		<ion-slide-box>
		  <ion-slide>
		    <div class="box blue"><h1>BLUE</h1></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box yellow"><h1>YELLOW</h1></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink"><h1>PINK</h1></div>
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view> -->