<ion-view title="Vocabulary" >
	<ion-content>
		<ion-list>
			<ion-item class="card" ui-sref="tabs.dailyword">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/daily.png" style="height: 80px; width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Daily words</b></h2>
				<p style="margin-left: 120px;">Total: 2 topics</p>
			</ion-item>
			<ion-item class="card" ui-sref="tabs.topic">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/topic.jpg" style="height: 80px; width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Topic</b></h2>
				<p style="margin-left: 120px; margin-bottom: 0px;">Total: 2 topics</p>
				<p style="margin-left: 120px;">540 words learned</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>