<ion-view title="Learn">
	<ion-content>
		<ion-list >
			<ion-item class="card" ui-sref="tabs.pronunciation">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/pronunciation.jpg" style="height: 80px; width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Pronunciation</b></h2>
				<p style="margin-left: 120px;">Total: 2 pronunciations</p>
			</ion-item>
			<ion-item class="card" ui-sref="tabs.vocabulary">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/vocabulary.jpg" style="height: 80px; width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Vocabulary</b></h2>
				<p style="margin-left: 120px;">Total: 2 Subjects</p>
			</ion-item>
			<ion-item class="card" ng-click="checkTest()">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/test.png" style="height: 80px; width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Test</b></h2>
				<p style="margin-left: 120px;">Start test</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>