<ion-view title="Learn">
	<ion-content overflow-scroll="true">
		<ion-list>
			<ion-item class="card" ui-sref="tabs.pronunciation">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/avatar.png" style="max-height: 80px; max-width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Pronunciation</b></h2>
				<p style="margin-left: 120px;">Total: 2 pronunciations</p>
			</ion-item>
			<ion-item class="card" ui-sref="tabs.vocabulary">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/avatar.png" style="max-height: 80px; max-width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Vocabulary</b></h2>
				<p style="margin-left: 120px;">Total: 2 Subjects</p>
			</ion-item>
			<ion-item class="card" ng-click="clicked()">
				<ion-thumbnail item-left style="float: left;">
					<img src="img/avatar.png" style="max-height: 80px; max-width: 80px;">
				</ion-thumbnail>
				<h2 style="width: auto; height: auto; margin-left: 120px; padding-top: 10px; font-size: 20px;"><b>Test and Game</b></h2>
				<p style="margin-left: 120px;">Total: 2 Subjects</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

<!-- <ion-view>
	<ion-content style="text-align: center;">
		<h2>Door</h2>
		<h4>/dɔː(r)/</h4>
		<h1 ng-if="rightAnswerShow">Right answer!</h1>
		<progress max="100"	value="{{ 100 - progressval }}"> </progress>
		<div class="div-button">
			<button class="card button button-block" ng-click="checkAnswer(a.isAnswer)">Answer A</button>
			<button class="card button button-block" ng-click="checkAnswer(a.isAnswer)">Answer B</button>
			<button class="card button button-block" ng-click="checkAnswer(a.isAnswer)">Answer C</button>
			<button class="card button button-block" ng-click="checkAnswer(a.isAnswer)">Answer D</button>
		</div>
	</ion-content>
</ion-view> -->