<ion-view title="Profile">
  	<ion-content>
  		<div style="height: 185px; text-align: center">
	  		<div class="avatar-background">
	            <h1 class="text-name">{{profile.firstname + " " + profile.lastname}}</h1>
	            <img src="{{profile.avatar}}" class="avatar-image">
				<h4 style="margin: 0px;">{{profile.nameoflevel}}</h4>
	        </div>
		</div>
		<div style="clear: both; margin: 0px;" class="card">
			<div style="width: 50%; height: 60px; float: left; text-align: center;">
				<img src="{{profile.image}}" alt="" style="height: 60px; width: 60px; border-radius: 50%">
			</div>
			<div style="width: 50%; height: 60px; float: left; text-align: center">
				<img src="{{imageAchieve}}" alt="" style="height: 60px; width: 60px; border-radius: 50%">
			</div>
		</div>
		<div style="clear: both; margin: 5px 0;">
			<div style="width: 50%; height: auto; float: left; text-align: center">
				<h3 style="margin: 0px;">{{wordsLearned}}</h3>
				<p>words learned</p>
			</div>
			<div style="width: 50%; height: auto; float: left; text-align: center">
				<h3 style="margin: 0px;">{{profile.currentexp}}</h3>
				<p>points</p>
			</div>
		</div>
 	</ion-content>
</ion-view>

