<ion-view title="Profile" style="text-align: center">
  <ion-content>
		<ion-card >
		  	<ion-item class="item-profile">
  			<div class="item item-avatar">
    			<img ng-src="{{imageURL}}" class="avatar-img">
			    <ion-label class="label-name">Hi! {{firstname + " " + lastname}} </ion-label>
  			</div>
			</ion-item>
			<hr>
			<ion-item class="item-profile item-level">
				<ion-label class="level">Level: {{level}}</ion-label>
				<ion-label class="level levelName">{{nameOfLevel}}</ion-label>
				<div class="w3-progress-container w3-round-large" style="margin-top: 20px;">
					<div id="myBar" class="w3-progressbar w3-round-large w3-green" style="width:{{currentExp/expPoint*100}}%;">
						<div class="w3-center w3-text-white">{{currentExp/expPoint*100}}%</div>
					</div>
				</div>
				<ion-label class="level">{{currentExp + "/" + expPoint}}</ion-label>
			</ion-item>
			<hr>
			<ion-item class="item-profile">
				<ion-label>Number word per day: {{wordPerDay}}</ion-label>
			</ion-item>
		</ion-card>
  </ion-content>
</ion-view>