.pronun{
	background: #E54861;
}

.vocab{
	background: #F2A379;
}

.testgame{
	background: #9BDF46;
}

.scroll{
	height: 100%;
}

nav{
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	background: #468966;
}

ul{
	height: auto;
	width: 80%;
	margin: auto;
}

.firtpronun{
	width: 100%;
	margin: 15% 0;
	font-size: 80px; 
	text-align: center;
}

// ul li{
// 	width: 100%;
// 	margin: 15% 0;
// }

ul li a{
	display: inline-block;
	width: 100%;
}

.box-sizing {
	box-sizing: border-box;
	padding: 10px;
}

.pronun{
	font-size: 30px; 
	text-align: center;
}