.button{
	background: #339999;
	border-radius: 5px;
	padding: 0px 30px;
	color: #fff;
}

.scroll{
	height: 100%;
}

nav{
	align-items: center;
	height: 100%;
	background: rgba(51, 153, 153, 0.0);
}

ul{
	width: 80%;
	height: auto;
	margin-top: 50%;
	margin-left: auto;
	margin-right: auto;

}

.firtpronun{
	width: 100%;
	margin: 15% 0;
	font-size: 80px; 
	text-align: center;
	border-radius: 10px;
	border: solid 1px;
	background: #E54861;
}

ul li{
 	width: 100%;
 	margin: 10% 0;
 	position: relative;
 	height: 33.333%;
 }

ul li a{
	color: #fff;
	display: inline-block;
	width: 100%;
}

.box-sizing {
	box-sizing: border-box;
	padding: 10px;
}

.pronuntext{
	font-size: 30px; 
	text-align: center;
	background: #9BDF46;
	border-radius: 10px;
	border: solid 1px;
}

.ion-volume-high{
	font-size: 30px; 
	color: #346473; 
	border-radius: 10px; 
	border: solid 1px; 
	padding: 0px 5px;
	position: absolute;
	right: 5px;
	bottom: 0%;
	margin-bottom: 22px;
}