/* Empty. Add your own CSS if you like */
/*.item-profile {
  height: 150px;
  .item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px:
  }
}*/
/*// ion-content{
// 	background: #ACE7EF;
// }*/

.item{
	padding: 0px;
	border-style: none;
}
.previous-title {
	visibility:hidden;
}

.bar-positive .button{
	color: #fff;
}

.bar.bar-positive .title{
	color: #fff;
}

.bar.bar-positive {
	background: #346473;
	color: #fff;
}

.tabs-positive > .tabs{
	background: #346473;
	color: #fff;
}	
