.{
    background-color: #FFEBEE;
}

.item{
	padding: 0px;
	border-style: none;
}

.previous-title {
	visibility:hidden;
}

.bar.bar-positive {
    border-color: #00897B;
    background-color: #00897B;
    background-image: linear-gradient(0deg, #00897B, #00897B 50%, transparent 50%);
    color: #fff;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
    border-color: #00897B;
    background-color: #00897B;
    background-image: linear-gradient(0deg, #00897B, #00897B 50%, transparent 50%);
    color: #fff;
}

.scroll-content {
  overflow: visible !important;
}
