.vocabcard{
	position: relative;
	text-align: center;
	border: solid 2px;
	border-radius: 10px;
	margin: 15px auto 0px auto;
}

p.text{
	font-size: 40px;
	color: red;
}

p.pronounce{
	font-size: 20px;
	color: #F3E515;
}

div.icon{
	position: absolute;
	font-size: xx-large;
	bottom: 0px;
	right: 10px;
	color: #444;
}

li img{
	text-align: center;
	margin-top: 10px;
	width: 100%;
	height: 100%;
	max-height: 150px;
}

li p{
	width: 100%;
	height: 100%;
	max-height: 150px;
}

ion-item.card{
	max-height: 80px;
	background: #26A69A;
	margin: 10px 10px;
}

ion-item.item.activated{
	background: #F44336;
}

.item-content{
	padding: 0px !important;
	background: #26A69A !important;
}

.card-subtopic{
	max-height: 100% !important;
}

div button.button{
	line-height: 30px;
}

div button.card{
	width: 90%;
	margin: auto;
	margin-bottom: 5px;
}

.div-button{
	bottom: 0px; 
	position: relative;
	width: 100%;
    height: auto;
}

.button-tran{
	transition: all 0.5s;
}

.button.disabled {
	opacity: 0.65; 
	cursor: not-allowed;
}

.button.activated{
	transform: scale(1.1);
	background-color: yellow !important;
}

.question-text{
	height: 100%;
	position:relative;
}

.container {
	/*margin-top: 44px !important;*/
	width: 60px;
	height: 60px;
	position: absolute;
	float: right;
	top: 0px;
	right: 20px;
	border-radius: 50%;
	/*background: red;*/
}

.container1 {
	/*margin-top: 44px !important;*/
	width: 60px;
	height: 60px;
	position: absolute;
	float: right;
	top: 0px;
	right: 20px;
	border-radius: 50%;
}

.question-test{
	position: relative;
	width: 90%;
	margin: auto;
	margin-top: 5px;
	border: solid 1px green;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

.button-next{
	position: relative; 
	height: 60px; 
	width: 100%; 
	text-align: center;
}

.daily-header {
	height: 50%;
	padding: 20px;
	background: #C8E6C9;
}

p.today{
	font-size: 20px;
}

p.second-line{
	margin-left: 20px;
	font-size: 25px;
	float: left;
	text-align: center;
}

p.number{
	margin-right: 60px;
	font-size: 40px;
	float: right;
	text-align: right;
}

p.third-line{
	font-size: 20px;
	float: right;
}

div.button-content{
	margin-top: -25px;
	text-align: center;
}

button.button-view{
	width: 40%;
}

button.button-review{
	width: 40%;
}

ul.list-ul{
	margin-top: 5px;
	width: 100%;
}

li.item-li{
	padding: 10px;
	text-align: center;
}

div.ul{
	margin-bottom: 64px;
}
